* {
  padding: 0;
  margin: 0; }

header, nav, aside, section, footer {
  display: block; }

a:link {
  text-decoration: underline;
  color: inherit; }

a:active {
  text-decoration: none;
  color: inherit; }

a:visited {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none;
  color: #FF9933; }

@font-face {
  font-family: "Opificio Rounded";
  src: url("../fonts/Opificio_rounded/Opificio_rounded.eot?") format("eot"), url("../fonts/Opificio_rounded/Opificio_rounded.woff") format("woff"), url("../fonts/Opificio_rounded/Opificio_rounded.ttf") format("truetype"), url("../fonts/Opificio_rounded/Opificio_rounded.svg#Opificio-Rounded") format("svg");
  font-weight: normal;
  font-style: normal; }
::selection {
  background: #FF9933;
  color: white; }

::-moz-selection {
  background: #FF9933;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Opificio Rounded";
  font-weight: bold; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.75em; }

p {
  font: normal 17px Arial; }

article {
  font: normal 17px Arial;
  text-align: left; }

section {
  width: 60%;
  margin-left: 20%; }

input[type="text"], input[type="password"] {
  width: 300px;
  height: 22px;
  border-radius: 20px;
  padding-left: 4px;
  margin-bottom: 10px; }

textarea {
  min-width: 90%;
  width: 90%;
  max-width: 90%;
  min-height: 200px;
  height: 200px;
  max-height: 200px; }

input[type="button"], input[type="submit"] {
  width: 220px;
  min-width: 50px;
  font-size: 15px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  background: #FF9933; }

form {
  width: 100%;
  text-align: center; }

form * {
  display: block;
  margin: auto; }

.positiveMessageBox, .warningMessageBox, .negativeMessageBox, .informationBox {
  width: 80%;
  padding: 10px;
  margin: auto;
  background: rgba(60, 215, 38, 0.7);
  font-size: 17px;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px; }

.warningMessageBox {
  background: rgba(255, 253, 30, 0.7);
  color: black; }

.negativeMessageBox {
  background: rgba(255, 12, 0, 0.7); }

.informationBox {
  background: none;
  color: black;
  border: 2px solid #FF9933;
  margin-bottom: 0; }

#mainSection {
  width: 80%;
  background: #F8F8F8;
  margin-left: 10%;
  margin-top: 50px;
  padding: 20px 0 20px 0; }

footer {
  width: 80%;
  margin-left: 10%;
  background: #383838;
  min-height: 120px;
  font: normal 15px "Times New Roman";
  -ms-box-orient: horizontal;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row; }

footer ul {
  margin: 5px 0 0 20px;
  list-style: none;
  color: white; }

footer ul li:first-child {
  font-weight: bold; }

footer ul li:hover a {
  text-decoration: underline; }

/*# sourceMappingURL=main_style.css.map */
